{% extends 'layout_bulma.html.twig' %}

{% block body %}

    <div class="container has-text-centered">
        <h2 class="subtitle">
            In this example object injection is possible via <u>obj cookie</u>
        </h2>
        <span>{{ cookie }}</span>
    </div>

{% endblock %}