{% extends 'layout_bulma.html.twig' %}

    {% block body %}

        <div class="container">
            <h2 class="subtitle has-text-centered">
                This php application suffers from multiple object injection vulnerabilities.
            </h2>
        </div>

    {% endblock %}