{% extends 'layout_bulma.html.twig' %}

{% block body %}

    <div class="container">
        <h2 class="subtitle has-text-centered">
            In this example object injection is possible via obj get param
        </h2>
    </div>

{% endblock %}